	 {% extends 'base.html' %}
   {% load static %}
   {% block content %}
   <section class="about-us-slider swiper-container p-relative">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-item">
            <img src="{% static 'lanph.jpg' %}" class="img-fluid full-width" alt="Banner">
            <div class="transform-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-7 align-self-center">
                            <div class="right-side-content">
                                <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                <h3 class="text-custom-white fw-400">with the our special orfer of the day</h3>
                                <a href="##" class="btn-second btn-submit">Browse Down</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-bg"></div>
        </div>
        <div class="swiper-slide slide-item">
            <img src="{% static 'pholan.jpg' %}" class="img-fluid full-width" alt="Banner">
            <div class="transform-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 align-self-center">
                            <div class="right-side-content text-center">
                                <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                <h3 class="text-custom-white fw-400">with the our special orfer of the day</h3>
                                <a href="##" class="btn-second btn-submit">Browse Down</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-bg"></div>
        </div>
        <div class="swiper-slide slide-item">
            <img src="{% static 'pahma.webp' %}" class="img-fluid full-width" alt="Banner">
            <div class="transform-center">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-7 align-self-center">
                            <div class="right-side-content text-right">
                                <h1 class="text-custom-white fw-600">Increase takeout sales by 50%</h1>
                                <h3 class="text-custom-white fw-400">with the our special orfer of the day</h3>
                                <a href="##" class="btn-second btn-submit">Browse Down</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-bg"></div>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>
<!-- slider -->
    <!-- Browse by category -->
    <section class="browse-cat u-line section-padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section-header-left">
                      <h3 class="text-light-black header-title title">WE TAKE ORDERS FROM <span class="fs-14"><a href="##"></a></span></h3>
                  </div>
              </div>
              <div class="col-12">
                  <div class="category-slider swiper-container">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon icon-parent text-custom-white bg-light-green"> <i class="fas fa-map-marker-alt"></i>
                                  </div> <span class="text-light-black cat-name">UENR</span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/pha.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">FIAPRE </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/phan.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">ABESIM </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/phm.webp' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">BERLIN </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/phm1.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">DUMASUA </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/phar.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">NOTRIDAM </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/studnts6.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">GLOVITA </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/hma.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">BREKUM </span>
                              </a>
                          </div>
                          <div class="swiper-slide">
                              <a href="##" class="categories">
                                  <div class="icon text-custom-white bg-light-green ">
                                      <img src="{% static 'phama/phm1.jpg' %}" class="rounded-circle" alt="categories">
                                  </div> <span class="text-light-black cat-name">NSUWATRE </span>
                              </a>
                          </div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="browse-cat u-line section-padding">
    <div class="container">
      <div style="padding: 10px;" class="row">
        <div style="padding: 20px;">
              {% for food in products %}
              <div style="padding: 5px; width: 310px; margin: 20px; display: inline-block;" class="product-box mb-xl-20">
                  <div style="width: 300px; height: 170px;" class="product-img">
                      <a href="##">
                          <img style="object-fit: cover; height: 100%; width: 100%;"  src="{{food.imageURL}}" class="img-fluid full-width" alt="product-img">
                      </a>
                      <div class="overlay">
                          <div class="product-tags padding-10"> <span class="circle-tag">
          <img src="{% static 'assets/img/svg/013-heart-1.svg' %}" alt="tag">
          </span>
                              <span class="type-tag bg-gradient-green text-custom-white">
        GH₵{{food.price}}
          </span>
                          </div>
                      </div>
                  </div>
                  <div class="product-caption">
                      <div class="title-box">
                          <h6 class="product-title"><a href="##" class="text-light-black "> {{food.name}}</a></h6>
                          <div class="tags"> <span class="text-custom-white rectangle-tag bg-green">
                <div data-product="{{food.id}}" data-action="add"  class="update-cart">AddToCard</div> 
          </span>
                          </div>
                      </div>
                      <p class="text-light-white">{{food.description}}</p>
                      <div class="product-details">
                          <div class="price-time"> <span class="text-light-black time">{{food.time}} min</span>
                              <!-- <span class="text-light-white price">10 min</span> -->
                          </div>
                          <div class="rating"> <span>
          <i class="fas fa-star text-yellow"></i>
          <i class="fas fa-star text-yellow"></i>
          <i class="fas fa-star text-yellow"></i>
          <i class="fas fa-star text-yellow"></i>
          <i class="fas fa-star text-yellow"></i>
          </span>
                              <span class="text-light-white text-right">4225 ratings</span>
                          </div>
                      </div>
                      <div class="product-footer"> <span class="text-custom-white square-tag">
          <img src="{%static 'assets/img/svg/005-chef.svg' %}" alt="tag">
          </span>
                          <span class="text-custom-white square-tag">
          <img src="{%static 'assets/img/svg/004-leaf.svg' %}" alt="tag">
          </span>
                      </div>
                  </div>
              </div>
              {% endfor %}
        </div>
      </div>
    </div>
  </section>

{% endblock content %}